.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRtBwgdD8ONOwyn4_iN3GJFc9Tj4iqHfLSNQ&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}
.wether{
  padding: 100px;
}
